examples/promises.json
[{"type":"tab","id":"110a1d0f.3871a3","label":"Flow 1"},{"id":"81896edd.41164","type":"function","z":"110a1d0f.3871a3","name":"promise func","func":"var count = context.get(\"count\") ? context.get(\"count\") + 1 : 1;\ncontext.set('count', count);\n\nmsg.payload = \"hi \" + count;\n\nnode.warn(\"setting timeout for \" + msg.payload);\nsetTimeout(function() {\n    node.send([msg, {payload: \"boo\"}]);\n}, 200);","outputs":"2","noerr":0,"sendPromise":true,"x":410,"y":120,"wires":[["ec10026c.bbfd7","b970c5c0.447ba8"],["ec10026c.bbfd7","b970c5c0.447ba8"]]},{"id":"ec10026c.bbfd7","type":"function","z":"110a1d0f.3871a3","name":"receiving func","func":"\nmsg.payload.then(function(result) {\n    //console.warn(result)\n    msg.payload = result;\n    node.send(msg);\n}).catch(function(error) {\n    node.error(error,msg);\n}).done(function(result) {\n    //node.warn(\"done!\");\n});","outputs":1,"noerr":0,"sendPromise":false,"x":740,"y":180,"wires":[["b2bb4f7c.9c1d7"]]},{"id":"f49e9827.8c5948","type":"inject","z":"110a1d0f.3871a3","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":140,"wires":[["81896edd.41164"]]},{"id":"b970c5c0.447ba8","type":"debug","z":"110a1d0f.3871a3","name":"debug","active":false,"console":"false","complete":"payload","sendPromise":false,"x":710,"y":240,"wires":[]},{"id":"b2bb4f7c.9c1d7","type":"debug","z":"110a1d0f.3871a3","name":"debug2","active":true,"console":"false","complete":"true","sendPromise":false,"x":980,"y":180,"wires":[]},{"id":"9cd8134b.f244c","type":"http request","z":"110a1d0f.3871a3","name":"google","method":"GET","ret":"txt","url":"/hi","x":350,"y":400,"wires":[[]]},{"id":"a9def9ad.8d88d8","type":"function","z":"110a1d0f.3871a3","name":"setup","func":"msg.sendPromise = true;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["9cd8134b.f244c"]]},{"id":"cdc60a60.90dea8","type":"inject","z":"110a1d0f.3871a3","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":400,"wires":[["a9def9ad.8d88d8"]]},{"id":"ca192193.4668a","type":"http in","z":"110a1d0f.3871a3","name":"hi","url":"/hi","method":"get","swaggerDoc":"","x":120,"y":520,"wires":[["5b83ff83.87a0b"]]},{"id":"5b83ff83.87a0b","type":"delay","z":"110a1d0f.3871a3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"sendPromise":false,"x":260,"y":520,"wires":[["ecf55daa.8e2f8"]]},{"id":"ecf55daa.8e2f8","type":"template","z":"110a1d0f.3871a3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"hi","x":400,"y":520,"wires":[["d3e082c7.7aaeb"]]},{"id":"d3e082c7.7aaeb","type":"http response","z":"110a1d0f.3871a3","name":"","x":520,"y":520,"wires":[]},{"id":"b57b93.5d30447","type":"exec","z":"110a1d0f.3871a3","command":"ls","addpay":false,"append":"","useSpawn":"","name":"send exec ls promise","sendPromise":true,"x":420,"y":200,"wires":[["b970c5c0.447ba8","ec10026c.bbfd7"],["ec10026c.bbfd7","b970c5c0.447ba8"],["ec10026c.bbfd7","b970c5c0.447ba8"]]},{"id":"aa9f32ba.ca533","type":"inject","z":"110a1d0f.3871a3","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":200,"wires":[["b57b93.5d30447"]]},{"id":"efec5c4f.1b01c","type":"http request","z":"110a1d0f.3871a3","name":"send http promise","method":"GET","ret":"txt","url":"google.com","sendPromise":true,"x":420,"y":260,"wires":[["b970c5c0.447ba8","ec10026c.bbfd7"]]},{"id":"aa6fdfcd.ba6ce","type":"inject","z":"110a1d0f.3871a3","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":260,"wires":[["efec5c4f.1b01c"]]}]